# DataStructureHandout

## Exercise Question 1:

### Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second

In [5]:
# Given list
#listOne = [3,6,9,12,15,18,21]
#lsitTwo = [4,8,12,16,20,24,28]

list_1 = [6,12,18]
list_2 = [4,12,20,28]
list_3 = list_1 + list_2

print(list_3)

[6, 12, 18, 4, 12, 20, 28]

## Exercise Question 2:

### Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [31]:
List = [34,54,67,89,11,43,94]

x = List[4]

In [32]:
#remove List[4]
List.remove(List[4])

In [33]:
print(List)

[34, 54, 67, 89, 43, 94]

In [34]:
#insert to List[2]
List.insert(2,x)

In [35]:
print(List)

[34, 54, 11, 67, 89, 43, 94]

In [36]:
#insert to end of List
n = len(List)
List.insert(n,x)

In [37]:
print(List)

[34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 3:

### Given a list slice it into a 3 equal chunks and reverse each list

In [42]:
OrList = [11,45,8,23,14,12,78,45,89]

Chunk_1 = []
Chunk_2 = []
Chunk_3 = []

for i in OrList:
    if len(Chunk_1) < 3:
        Chunk_1.append(i)
    elif len(Chunk_2) < 3:
        Chunk_2.append(i)
    elif len(Chunk_3) < 3:
        Chunk_3.append(i)

In [47]:
print("Original:",Chunk_1)
Chunk_1.reverse()
print("Reverse:",Chunk_1)

Original: [8, 45, 11]
Reverse: [11, 45, 8]

In [48]:
print("Original:",Chunk_2)
Chunk_2.reverse()
print("Reverse:",Chunk_2)

Original: [23, 14, 12]
Reverse: [12, 14, 23]

In [49]:
print("Original:",Chunk_3)
Chunk_3.reverse()
print("Reverse:",Chunk_3)

Original: [78, 45, 89]
Reverse: [89, 45, 78]

## Exercise Question 4:

### Given a list iterate it and count the occurrence of each element and create a dictionary to show the count of each element

In [57]:
List = [11,45,8,11,23,45,23,45,89]

x = List.count(11)
y = List.count(45)
z = List.count(8)
w = List.count(23)
v = List.count(89)

print("11:",x,", 45:",y,", 8:",z,", 23:",w,", 89:",v)

11: 2 , 45: 3 , 8: 1 , 23: 2 , 89: 1

## Exercise Question 5:

### Given a two list of equal size create a set such that it shows the element from both lists in the pair

In [77]:
F_list = [2,3,4,5,6,7,8,9,10]
S_list = [4,9,16,25,36,49,64]

result = []

for i in F_list:
    for e in S_list:
        if (i**2) == e:
            result.append((i,e))

In [78]:
print(result)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

## Exercise Question 6:

### Given a following two sets find the intersection and remove those elements from the first set

In [79]:
F_set = {65,42,78,83,23,57,29}
S_set = {67,73,43,48,83,57,29}

Inter = F_set.intersection(S_set)
New_set = F_set - Inter

print("intersection:",Inter)
print("F_set after removing common element:",New_set)

intersection: {57, 83, 29}
F_set after removing common element: {65, 42, 78, 23}

## Exercise Question 7:

### Given two sets, Checks if One Set is Subset or superset of Another Set. if the subset is found delete all elements from that set

In [109]:
F_set = {27,43,34}
S_set = {34,93,22,27,43,53,48}

#F_set = {34,93,22,27,43,53,48}
#S_set = {27,43,34}

#F_set = {57,83,29}
#S_set = {67,73,43,48,83,57,29}

print("First set is subset of second set -",F_set.issubset(S_set))
print("Second set is subset of First set -",S_set.issubset(F_set))
print("")
print("")
print("First set is superset of second set -",F_set.issuperset(S_set))
print("Second set is superset of First set -",S_set.issuperset(F_set))
print("")
print("")

if F_set.issubset(S_set):
    F_set.clear()
    print("First set:",F_set)
    print("Second set:",S_set)
else:
    print("First set:",F_set)
    print("Second set:",S_set)

First set is subset of second set - True
Second set is subset of First set - False


First set is superset of second set - False
Second set is superset of First set - True


First set: set()
Second set: {34, 43, 48, 53, 22, 27, 93}

## Exercise Question 8:

### Iterate a given list and Check if a given element already exists in a dictionary as a keyâ€™s value if not delete it from the list

In [128]:
rollNumber = [47,64,69,39,76,83,95,97]
sampleDict = {'jhon':47,'Emma':69,'Kelly':76,'Kason':97}

x = sampleDict.values()
y = [47,64,69,39,76,83,95,97]

for i in range(len(y)) :
    if y[i] not in x :
        rollNumber.remove(y[i])

print('after removing unwanted element from list  ',rollNumber)

after removing unwanted element from list   [47, 69, 76, 97]

## Exercise Question 9:

### Given a dictionary get all values from the dictionary and add it in a list but donâ€™t add duplicates

In [129]:
speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july': 54, 'Aug':44, 'Sept':54}

N_speed = speed.values()
List = []

for i in N_speed:
    if i not in List:
        List.append(i)
        
print(List)

[47, 52, 44, 53, 54]

## Exercise Question 10:

### Remove duplicate from a list and create a tuple and find the minimum and maximum number

In [132]:
GivenList = [87,45,41,65,94,41,99,94]

Tuple = []

for i in GivenList:
    if i not in Tuple:
        Tuple.append(i)
        
print("tuple = ",tuple(Tuple))
print("min : ",min(Tuple),'max : ',max(Tuple))

tuple =  (87, 45, 41, 65, 94, 99)
min :  41 max :  99